body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("res/home.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: black; */
}

nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.7); */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  /* overflow: hidden; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.logo {
  margin-right: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 1.75%;
  /* margin-left: 30%; */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: red;
}

#profile {
  margin-left: 55%;
  margin-top: 0.5%;
}

.intro {
  /* color: rgb(119, 218, 15); */
  width: 100%;
  /* background-color: black; */
  margin-top: 100px;
}

#pro_name {
  color: rgb(119, 218, 15);
  font-size: 60px;
  margin-left: 40px;
  margin-top: 0px;
}

#pro_dec {
  color: white;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 0px;
}

#pro_dec:hover {
  width: 850px;
  background-color: red;
  color: white;
}

.oval-box {
  width: 200px;
  height: 30px;
  background-color: red;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 250px;
}

footer {
  width: 100%;
  color: white;
}
#fooder_dec {
  /* margin-left: 500px; */
  margin-top: 90px;
  text-align: right;
}
.active {
  background-color: #4caf50;
  color: white;
}
